{% extends "layout.html" %}


{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resume_builder.css') }}">
{% endblock %}


{% block content %}
<form method="POST" action="/submit" id="myForm">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }} <p class="error" style="color:red;"></p><br>
    {{ form.email.label }} {{ form.email(size=40) }} <p class="error" style="color:red;"></p><br>
    {{ form.message.label }} {{ form.message() }} <p class="error" style="color:red;"></p><br>
    <input id="submit-btn" type="submit" value="Submit">
</form>
<p id="output" style="color:green;"></p>
{% endblock %}


{% block javascripts %}
{{ super() }}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{{ url_for('static', filename='js/jquery.blockUI.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#submit-btn').click(function () {
            $('#myForm').block({
                message: '<h1>Processing</h1>',
                css: { border: '3px solid #a00' }
            });
        });

        function processJson(data) {
            $(".error").empty();
            $('#myForm').unblock();

            if (data.result == "success") {
                $("#output").text("Message received! Thank you :)");
                $("#myForm").slideUp();
            } else if (data.result == "failure") {
                Object.keys(data.errors).forEach(function (key) {
                    var el = "#" + key;
                    $(el).next(".error").text(data.errors[key].join(" "));
                });
            } else {
                console.log("Something went wrong!");
            }
        }

        $('#myForm').ajaxForm({
            dataType: 'json',
            success: processJson
        });
    });
</script>
{% endblock %}
