<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
 
        <form action="{{ url_for('add_entry') }}" method="POST">
            <!-- age -->
            Age:<br>
            <input type="text" name="age" value="30"><br>
           
            <!-- first name -->
            First name:<br>
            <input type="text" name="name_0" value="Mickey"><br>
 
            <!-- last name -->
            Last name:<br>
            <input type="text" name="name_1" value="Mouse"><br>
 
            <!-- list of scores -->
            <fieldset style="width: 20%;">
                <legend>Scores:</legend>
                <div id="scores">
                    <input type="text" name="score_0" value="100"><a class="remove-score-link">x</a><br>
                </div>
                <a class="add-score-link" href="#">add score</a><br>
            </fieldset>
 
            <!-- submit button -->
            <input type="submit" value="Submit">
        </form>
 
        <!-- javascripts -->
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/form_page.js') }}" ></script>
    </body>
</html>
