{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('submit_resume') }}" method="POST">
        First name:<br>
        <input type="text" name="name_0" value=""><br>

        Last name:<br>
        <input type="text" name="name_1" value=""><br>

        <fieldset>
            <legend>Skills:</legend>
            <div id="skills">
                <input type="text" name="skill_0"><a class="remove-skill-link">x</a><br>
            </div>
            <a class="add-skill-link" href="#">add skill</a><br>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
{% endblock %}


{% block javascripts %}
    {{ super() }}
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/resume_builder.js') }}" ></script>
{% endblock %}

