{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('submit_resume') }}" method="POST">
        Age:<br>
        <input type="text" name="age" value="30"><br>
       
        First name:<br>
        <input type="text" name="name_0" value="Mickey"><br>

        Last name:<br>
        <input type="text" name="name_1" value="Mouse"><br>

        <fieldset>
            <legend>Scores:</legend>
            <div id="scores">
                <input type="text" name="score_0" value="100"><a class="remove-score-link">x</a><br>
            </div>
            <a class="add-score-link" href="#">add score</a><br>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
{% endblock %}


{% block javascripts %}
    {{ super() }}
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/resume_builder.js') }}" ></script>
{% endblock %}

