{% extends "layout.html" %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resume_builder.css') }}">
{% endblock %}

{% block content %}
    <form action="{{ url_for('submit_resume') }}" method="POST">
        <div id="sections">

            <div class="section">
                First name:<input type="text" name="name_0" value="">
            </div>


            <div class="section">
                Last name:<input type="text" name="name_1" value="">
            </div>


            <div class="section">
                <fieldset>
                    <legend>Skills:</legend>
                    <div id="skills">
                        <div class="skill">
                            <input type="text" name="skill_0"><a class="remove-skill-link">x</a>
                            <br>
                        </div>
                    </div>
                    <a class="add-skill-link" href="#">add skill</a><br>
                </fieldset>
            </div>


        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}


{% block javascripts %}
    {{ super() }}
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/resume_builder.js') }}" ></script>
{% endblock %}

